version: "1.0"

device:
  id: "E1"
  name: "RPi3"


listeners:
  tsensor1:
    mode: "File"
    path: "/Users/nipun/tsensor1"
    filename: "tsensor1_feed.dat"
  
  tsensor2:
    inputmode: "reddis"
    path: "/Users/nipun/tsensor2"
    host: "localhost"
    port: "6379"

forwarder:
  cloud-rabbitmq:
    mode: "messaging"
    protocol: "amqp"
    host: "monmgr"
    port: "5672"
    user: "edge-user"
    password: "edge-user"
    channel: "edge-feed"
    windowsize: "1"

remote-commander:
  main:
    mode: "messaging"
    protocol: "amqp"
    host: "monmgr"
    port: "5672"
    user: "edge-user"
    password: "edge-user"
    channel: "cmdr"

monitoring-manager:
  main:
    mode: "messaging"
    protocol: "amqp"
    host: "monmgr"
    port: "5672"
    user: "edge-user"
    password: "edge-user"
    queue: "system-stats"

remote-log-collector:
  main:
    mode: "messaging"
    protocol: "amqp"
    host: "monmgr"
    port: "5672"
    user: "edge-user"
    password: "edge-user"
    queue: "system-logs"

